/* h5 is used for many text based elements of the html.*/
h5 {
  font-size: 1rem;
  color: #000000;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; /* Add margin for spacing */
}

/* Container for the image and canvas */
.imageAndCanvas {
  margin-bottom: 20px; /* Add margin for spacing between image and player selection boxes */
  display: flex;
  justify-content: center;
  width: 40%;
  border: 2px solid #0f0f0f;
}

.imageAndCanvas img,
.imageAndCanvas canvas {
  max-width: 100%; /* Ensure it doesn't overflow */
  height: auto;
}

/* Flex container for player selection boxes and swap button */
.selectionAndSwapContainer {
  width: 40%;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  gap: 20px; /* Space between player selection boxes and swap button */
}

/* Container for player selection boxes side by side */
.playerSelectionContainer {
  width: 100%;
  border: 2px solid #0f0f0f;
  border-radius: 20px;
  display: flex;
  gap: 40px; /* Space between the player selection boxes */
}

/* Define the style of our player selection divs */
.Player1Selection,
.Player2Selection {
  width: 100%;
  text-align: left;
  padding: 10px;
}

/* Swap button styling */
.swapButton {
  background-color: #2f855a;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.swapButton:hover {
  background-color: #276749;
  color: #FBBF24;
}

/* Header style */
.bigHeadererFile {
  font-size: 40px;
  text-align: center;
}

/* Text within color picker */
.formSectionText {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  color: #ededf1;
}

/* Color button style */
.selectedColor {
  width: 100%;
  height: 20%;
  background: #6c738b;
  color: white;
  border: 2px solid #0f0f0f;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.NextButtonColour {
  background-color: #2f855a;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px;
}

.NextButtonColour:hover {
  background-color: #276749;
  color: #FBBF24;
}

.ProcessDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}